*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* .flex-container ul {
    display: flex;
    justify-content: space-between;

}

.flex-container li .view-highscores {
    order: 0;
}

.flex-container ul .timer {
    order: 1;
    margin-left: 0;
}

ul {
    margin-left: 0;
    padding-left: 0;
} */
main .flex-card-start-quiz,.flex-quiz-name,.flex-summary,.btn  {
    display:flex;
    justify-content: center; 
    margin-left:19.92px;
    margin-top: 100px;
}
.flex-quiz-name {
    display:flex;
    justify-content: center;  
    color: black;
}

.flex-summary  {
    color:black;
    text-align: center;
    width:495px;
    font-size:17.1px;
    margin:auto;
}
button {
    padding: 20px;

}
.btn {
    border:none;
    background-color:rgb(129, 94, 151);
    border-radius:3px;
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 6px 0px 
    rgba(0,0,0,0.2) 0px 1px 1px 0px;
    color:hsl(0, 0%, 100%);
    display:block;
    font-size: 15px;
    line-height:15px;
    margin:auto;
    margin-top: 20px;
    padding: 4px;
    text-align:center;
    cursor:pointer;
    justify-content: center;
    width:fit-content;


}

