* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color:white;
    

}

.flex-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px, 20px, 10px;
    background-color: #f0f0f0;
    height: 20px;
    padding-bottom:15px;

}

.flex-container ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top:10px;
}
 .view-highscores {
    cursor: pointer;
    order: 0;
    padding-top:25px;
}

#timerDisplay {
    cursor: pointer;
    order: 1;
    margin-left: 0;
    padding-top:5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.flex-quiz-name {
    color: black;
}

.flex-summary, .highscores p {
    color: black;
    text-align: center;
    width: 530px;
    font-size: 15px;
    margin: auto;
    padding-bottom:20px;
}

button {
    padding: 20px;

}
.start-btn, button, .answer-btn, .submit-btn, .back-btn, .clear-btn {
    background-color: purple;
    border-radius: 3px;
    border: none; 
    color: white;
    display: block;
    font-size: 15px;
    line-height: 15px; 
    margin: auto;
    margin-top: 20px;
    padding: 4px;
    text-align: center;
    cursor: pointer; 
    justify-content: center;
    width: fit-content;
}
.start-btn:hover, button:hover, .answer-btn:hover, #backButton:hover, #clearButton:hover {
    background-color:plum;
    
}
.start-btn:active, button:active, .answer-btn:active,.back-btn:active, .clear-btn:active {
    outline:2px solid deepskyblue;
}
.ol { 
    font-weight:bold;
    font-size:50px;
    color:deeppink;
    margin-right: 50px;

    


}

.questionAnswersList li {
    background-color: purple;
    border-radius: 3px;
    border: none; 
    color: white;
    display: block;
    font-size: 15px;
    line-height: 15px; 
    margin: auto;
    margin-top: 20px;
    padding: 4px;
    text-align: center;
    cursor: pointer; 
    justify-content: center;
    width: fit-content;
    position:relative;
    margin-bottom:0;

  }

  .question {
    justify-content:center;
    text-align:center;
    padding-top: 60px;
    padding-bottom:15px
  }

.result  {
    justify-content:center;
    text-align:center;
    border-top:1px solid #000;
    padding-top:15px;
    border-top-color: gray;
    color:gray;
    max-width:40%;
    margin: 0 auto;
    margin-top: 20px;
}
.allDone  {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.highscores {
    display:none;
    justify-content:center;
    text-align:center;
    padding-top: 60px;
    padding-bottom:15px;
    align-items:center;
    flex-direction:column;
    
}
h1 {
    color: purple;
    font-weight: 30px;
    display:none;
    flex:wrap;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}    
.allDone {
    color: purple;
    font-weight: 30px;
    display:none;
    flex:wrap;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;;
}
#allScores {
    color: purple;
    font-weight: 30px;
    display:none;
    flex:nowrap;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;;
}
#allScores ol {
    color:deeppink;
}
li::marker{
    color:white;
    padding-left:0;
    margin-left:0;
    display:none;
}
.hs {
    color: purple;
    font-weight: 30px;
    display:none;
    flex:wrap;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;;
}
#backButton, 
#clearButton {
    order:1;
    display:inline-block;
    width:auto;
    padding:10px 20px;
    border:none;
    background-color: purple;
    border-radius: 3px;
    color:white;
    text-align:center;
    cursor: pointer;
    margin: 0 5px;
}
#btnContainer {
    display:flex;

}
div#highscores {
    padding-right:40px;
}
div#highscores p {
    padding-left:40px;
}